.base{
    height: 500px;
    width: 600px;

	display: grid;
    grid-template-columns:  70% 30%;
    grid-template-rows: 30% 70%;
}

.base div{
	/* height: 200px;
	width: 200px; */
}

.red{
	background-color: #FAA0A0;
}
.green{
	background-color: #C1E1C1;
}
.blue{
	background-color: #A7C7E7;
    grid-area: 2 / 1 / 3 / 3;
}